<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script  src="/js/script.js"></script>

  </head>
  <body>
    <div class="bg-[url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg')] bg-cover relative w-screen h-screen">
      
      <nav class="flex">

        <div id="topnav" class=" z-10 bg-black bg-opacity-30 p-4 text-center content-center w-screen h-[10%] fixed top-0 left-0 ">
          <div class=" items-center flex p-2.5 text-gray-100">
            <i class="bi bi-list px-2 py-1 bg-gray-600 bg-opacity-50 rounded-md cursor-pointer hover:bg-black"  onclick="OpenNav()"></i>
            <a href="/login" class="flex items-center">
              <img src="https://upload.wikimedia.org/wikipedia/en/9/97/FortisBC_logo.svg" alt="Logo" class=" w-[150px] ml-[50px]">
            </a>
            <div class="p-2.5 ml-[10%] rounded-full bg-opacity-60 px-4 duration-300 cursor-pointer bg-gray-700 flex w-[500px]"  >
              <i class="bi bi-search text-sm"></i>
              <input class="text-[15px] ml-4 w-full bg-transparent focus:outline-none" placeholder="Serach" />
            </div>
          </div>
        </div>

        <div id="sidenav" class=" z-0 flex-grow fixed bg-black bg-opacity-30 p-6 pt-6 text-center w-72 bottom-0 h-[90%] ">
          <div class="text-gray-100 text-xl">
            
            <div id="navcontent">
               
              
              <a href="/login">
              <div class="p-2.5 item-center mt-3 flex rounded-md px-4 cursor-pointer hover:bg-gray-700 bg-opacity-50 text-white ">
                <i class="bi bi-star"></i>
                <span class="text-[16px] ml-4 text-gray-200">Favourites</span>
              </div> </a>
              <hr class=" my-3 ">
              <div class="p-2.5 item-center mt-3 flex rounded-md px-4 cursor-pointer hover:bg-gray-700 bg-opacity-50 text-white" onclick="dropdown()">
                <i class="bi bi-file-earmark"></i>
                <div class="item-center text-center flex justify-between w-full">
                  <span class="text-[16px] ml-4 text-gray-200">Purchase Order</span>
                  <span class="text-sm rotate-180" id="arrowdown">
                  <i class="bi bi-chevron-down p-2.5"></i>
                  </span>
                </div>
              </div>
              <div class="text-left text-sm font-thin mt-2 w-4/5 max-auto" id="pomenu">
                <div class="cursor-pointer p-2 bg-opacity-50 hover:bg-gray-700 rounded-md mt-1"> 
                  <i class="bi bi-file-earmark-plus"> New Purchase Order</i>
                </div>
                <div class="cursor-pointer p-2 bg-opacity-50 hover:bg-gray-700 rounded-md mt-1"> 
                  <i class="bi bi-file-earmark-plus"> Edit Purchase Order</i>
                </div>
                <div class="cursor-pointer p-2 bg-opacity-50 hover:bg-gray-700 rounded-md mt-1"> 
                  <i class="bi bi-file-earmark-plus"> Pending Orders </i>
                </div>
              </div>
            </div>
          </div>
          <a href="/logout">
            <div class=" text-gray-100 px-2 py-1 bg-gray-600 bg-opacity-50 rounded-md cursor-pointer hover:bg-black 
            bottom-0 text-white ml-0.5 fixed mb-3">
              <i class="bi bi-box-arrow-in-right "></i>
              <span id="logouttext" class="text-[16px] ml-4 text-gray-200">Logout</span>
          
            </div>
            
          </a>
        </div>


      </nav>

      
      


      <div class="content">
        
      </div>

    </div>
    
    
    
  </body>
</html>