<!-- /data storage
datatorage/addnew -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script  src="/js/script.js" defer></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.quilljs.com/1.3.6/quill.core.css">
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-image-resize-module@3.0.0/image-resize.min.js"></script>

  </head>
  <body style="background-repeat: no-repeat; background-attachment: fixed;" class="bg-gradient-to-r from-[rgb(3,45,95)]/95 to-[rgb(6,76,135)]/95 bg-cover">
    <div>
      <nav class="fixed">
        <div id="topnav" class=" z-10 bg-gray-200 p-4 text-center content-center w-screen h-[10%] fixed top-0 left-0 ">
          <div class=" items-center flex p-2.5 text-gray-100">
            <i class="bi bi-list px-2 py-1 bg-gray-600 bg-opacity-50 rounded-md cursor-pointer hover:bg-black"  onclick="OpenNav()"></i>
            <a href="/login" class="flex items-center">
              <img src="https://upload.wikimedia.org/wikipedia/en/9/97/FortisBC_logo.svg" alt="Logo" class=" w-[150px] ml-[50px]">
            </a>
            <div class="absolute right-1">
              <a th:href="@{/profile/pr/{id}(id=${user.id})}"> 
                <img
                  id="avatar"
                  th:src="@{${user.avatarImagePath}}"
                  alt="Avatar"
                  class=" w-12 h-12 mr-2 rounded-full cursor-pointer bg-opacity-50 hover:bg-black "/>
              </a>
            </div>
          </div>
        </div>

        
        <div id="sidenav" class=" z-0  fixed bg-black bg-opacity-30 p-6 pt-6 text-center w-72 bottom-0 h-[90%] ">
          <div class="text-gray-100 text-xl">
            
            <div id="navcontent">
              <hr class=" my-2 ">
              <div class="p-2.5 item-center mt-3 flex rounded-md px-4 cursor-pointer hover:bg-gray-700 bg-opacity-50 text-white" onclick="dropdown()">
                <i class="bi bi-file-earmark"></i>
                <div class="item-center text-center flex justify-between w-full">
                  <span class="text-[16px] ml-4 text-gray-200">Purchase Order</span>
                  <span class="text-sm rotate-180" id="arrowdown">
                  <i class="bi bi-chevron-down p-2.5"></i>
                  </span>
                </div>
              </div>
              <div class="text-left text-sm font-thin mt-2 w-4/5 max-auto" id="pomenu">
                <div class="cursor-pointer p-2 bg-opacity-50 hover:bg-gray-700 rounded-md mt-1">
                  <a th:href="@{/form/pr/{id}(id=${user.id})}"> 
                    <i class="bi bi-file-earmark-plus"> New Purchase Order</i>
                  </a>
                </div>
                <div class="cursor-pointer p-2 bg-opacity-50 hover:bg-gray-700 rounded-md mt-1">
                  <a href="/requests/draft"> 
                    <i class="bi bi-file-earmark-plus"> Draft Orders</i>
                  </a>
                </div>
                <div class="cursor-pointer p-2 bg-opacity-50 hover:bg-gray-700 rounded-md mt-1">
                  <a href="/requests/submitted">  
                    <i class="bi bi-file-earmark-plus"> Submitted Orders </i>
                  </a>
                </div>
            </div>
          </div>
          <a href="/logout">
            <div class=" text-gray-100 px-2 py-1 bg-gray-600 bg-opacity-50 rounded-md cursor-pointer hover:bg-black 
            bottom-0 text-white ml-0.5 fixed mb-3">
              <i class="bi bi-box-arrow-in-right "></i>
              <span id="logouttext" class="text-[16px] ml-4 text-gray-200">Logout</span>
          
            </div> 
          </a>
        </div>
      </nav>
      <div class="w-4/6 float-right mr-24 pt-24 pb-20"> 
        <div class="flex flex-col">
            <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                    <div class="overflow-hidden">
                        <table class="min-w-full text-left text-sm font-light bg-blue-100">
                            <thead class="border-b font-medium dark:border-neutral-500 bg-blue-200 text-center">
                                <tr>
                                    <th scope="col" class="px-6 py-4">Request ID</th>
                                    <th scope="col" class="px-6 py-4">Company Code</th>
                                    <th scope="col" class="px-6 py-4">ProjectName</th>
                                    <th scope="col" class="px-6 py-4">Date</th>
                                    <th scope="col" class="px-6 py-4">Status</th>
                                    <th scope="col" class="px-6 py-4">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="request:${requests}" th:if="${request.status == 'submitted' && request.userID == user.id}" class=" font-medium border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600 text-center">
                                    <!-- if the status of the request is draft -->
                                    <td class="whitespace-nowrap px-6 py-4 font-medium" th:text="${request.rid}"></td>
                                    <td class="whitespace-nowrap px-6 py-4" th:text="${request.companyCode}"></td>
                                    <td class="whitespace-nowrap px-6 py-4" th:text="${request.projectName}"></td>
                                    <td class="whitespace-nowrap px-6 py-4" th:text="${request.date}"></td>
                                    <td class="whitespace-nowrap px-6 py-4" th:text="${request.status}"></td>
                                    <td class="whitespace-nowrap px-6 py-4 flex items-center justify-center">
                                      <a href="@{/edit/{rid}(rid=${requests.rid})}" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" role="button">Review</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>      
        
      </div>
  </div>   
</body>
</html>


