<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script  src="/js/signUpLogin.js" defer></script>
    <title>Login Page</title>
</head>
<body>
    <div class="flex justify-center items-center min-h-screen bg-gradient-to-r from-[rgb(3,45,95)]/95 to-[rgb(6,76,135)]/95">
        <div class="max-w-md w-full p-6 bg-white rounded-md shadow">
          <h1 class="text-2xl font-bold mb-6 text-center">Reset Password</h1>
          <div th:if="${error}" class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-4" role="alert">
            <span class="block sm:inline" th:text="${error}"></span>
          </div>
          <form action="/resetpassword" method="post">
            <div class="mb-4">
                <input type="hidden" name="token" th:value="${token}" />
                <label for="username" class="block mb-2">Passworrd:</label>

                <div class="relative">
                    <input type="password" id="password" name="password" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" required>
                    <button type="button" id="togglePassword" class="absolute top-1/2 right-3 transform -translate-y-1/2 px-2 py-1 bg-gray-300 rounded text-sm text-gray-700">Show</button>
                </div>

                <div class="mb-4">
                <label for="password" class="block mb-2">Confirm Password:</label>
                <div class="relative">
                  <input type="password" id="confirmPassword" name="confirmPassword" class="w-full px-3 py-2 border border-gray-300 rounded focus:outline-none focus:border-blue-500" required>
                  
                </div>
                
            </div>
            <div class="mb-6">
                <input type="submit" class="w-full py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-600 focus:outline-none focus:bg-blue-600" value="Reset Password">
                </input>
    
            </div>
            
          </form>
        </div>
      </div>
</body>
</html>